<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="shelter.android.survey.classes"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-permission android:name="android.permission.INTERNET" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
     <!-- Permissions required for camera functionality  -->
    <uses-permission android:name="android.permission.CAMERA" />
 	<uses-feature android:name="android.hardware.camera" />
 	<uses-feature android:name="android.hardware.camera.autofocus" />
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
 	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
    <application android:icon="@drawable/icon" 
        android:allowBackup="true"
        android:debuggable="true" 
        android:label="@string/app_name" 
        android:theme="@style/AppBaseTheme"
        android:largeHeap="true">
        
        <activity android:name=".menus.Index"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".menus.MainSurvey"
                  android:label="@string/app_name"
            	  android:configChanges="keyboardHidden|orientation">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SlumSelect" />
        </activity>
        
        
        <activity android:name=".menus.UploadExisting"
                  android:label="@string/app_name"
                  android:configChanges="keyboardHidden|orientation">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Index" />
        </activity>
        
        <activity android:name=".menus.SurveySelect"
                  android:label="@string/app_name">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".menus.Index" />
        </activity>
        
        <activity android:name=".menus.SlumSelect"
                  android:label="@string/app_name">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".menus.SurveySelect" />
        </activity>
        
    </application>
    <uses-sdk android:minSdkVersion="5" />
</manifest> 